black==24.8.0
build==1.2.2
ebcdic==1.1.1; sys_platform!="zos"
griffe==1.2.0
mkdocs-material==9.5.34
mkdocs-minify-plugin==0.8.0
mkdocstrings-python==1.11.1
pycodestyle==2.12.1
pylint==3.2.7
pytest==8.3.3; python_version>="3.8"
pytest>=7.4.2; python_version<"3.8"
twine==5.1.1; sys_platform!="zos"
wheel==0.44.0
