black==25.1.0
build==1.2.2.post1
ebcdic==1.1.1; sys_platform!="zos"
griffe==1.7.3
mkdocs-material==9.6.14
mkdocs-minify-plugin==0.8.0
mkdocstrings-python==1.16.12
pycodestyle==2.13.0
pylint==3.3.7
pytest==8.3.5; python_version>="3.8"
pytest>=7.4.2; python_version<"3.8"
twine==6.1.0; sys_platform!="zos"
wheel==0.45.1
